.aboutWrapper {
  h3{
    margin-bottom: var(--inboxPaddingMd);
  }
  .technicalSkillsWrap {
    h5 {
      font-weight: 600;
    }

    span {
      text-decoration: underline;
      font-weight: 500;
    }
  }

  @media (max-width: 768px) {
    .technicalSkillsWrap {
      flex-direction: column;
    }
  }
}