.wrapper {
  .top {
    text-align: center;
    margin: 0 auto var(--globalSectionsPadding);
  }

  .tabsWrap {
    .tabsTop {
      margin-bottom: var(--globalSectionsPadding);

      button {
        padding-top: var(--chakra-space-1);
        padding-bottom: var(--chakra-space-1);
      }
    }

    .greedWrap {
      >div {
        justify-self: start;

        &:nth-child(2n) {
          justify-self: end;
        }
      }
    }
  }
  @media (max-width: 1024px) {

    .tabsWrap {
      .tabsTop {
        gap: 15px;
      }

      .greedWrap {
        grid-template-columns: 1fr;
      }
    }
  }

  @media (max-width: 768px) {


    .tabsWrap {
      .tabsTop {
        flex-direction: column;
        align-items: center;
      }

      .greedWrap {
        grid-template-columns: 1fr;
      }
    }
  }
}