.wrapper{
  .top,.content{
    margin-bottom: var(--globalSectionsPadding);
  }
  .description{
    font-size: var(--h5);
  }
  .wrapperItem{
    opacity: 0;
    transform:translate(-100px, 50px);
    &:nth-child(even){
      transform:translate(100px, 50px);
    }
  }
}