.chatContainer {
  .chatMessages {

    .userMessage {
      text-align: right;
      color: blue;
    }

    .aiMessage {
      text-align: left;
      color: green;
    }
  }

  .chatForm {}

  button{
    svg{
      fill: var(--colorWhite);
    }
  }
}