.chatContainer {
  overflow: scroll;
  min-height: 500px;
  max-height: 700px;

  .chatMessages {
    color: var(--colorBlack);

    .userMessage {
      text-align: right;
    }

    .aiMessage {
      text-align: left;
    }
  }

  .chatForm {


    button {
      svg {
        fill: var(--colorWhite);
      }
    }
  }
}