.header {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: var(--inboxPaddingSm) var(--globalWrapPadding);
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--colorBlack);
  z-index: 10;

  .navLink {
    position: relative;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--chakra-colors-teal-500);
    }
}

.underline {
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--chakra-colors-teal-300);
}


  .logo {
    svg {
      width: 90px;
    }
  }

  .navbarWrapper {
    width: 100%;
    max-width: var(--maxWidth);

    a {
      font-size: var(--pM);
      color: var(--colorBlack);
    }
  }
}